#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
body {
	font-family: Arial, sans-serif;
	background-color: #f4f4f4;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	height: 100vh;
}

h2 {
	color: #333;
}
.budget-over {
	color:red;
	font-weight: bold;
}
.budget-in-range{
	color:#007bff;
	font-weight: bold
}
a {
	color: #007bff;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

hr {
	border: none;
	border-top: 1px solid #ccc;
	margin: 20px 0;
}

input,
textarea {
	width: 100%;
	padding: 8px;
	margin: 8px 0;
	border: 1px solid #ccc;
	border-radius: 4px;
}

button {
	padding: 5px 10px;
	background-color: #5cb85c;
	color: white;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

button:hover {
	background-color: #089763;
}

button.delete {
	background-color: #d9534f;
	margin-left: 10px;
}
button.delete:hover{
	 background-color: #b4091a;
}

button.comment{
	background-color: #6495ED;
	margin-right: 10px;
}
button.comment:hover{
	background-color: #465daa;
}
.expense-item {
	background-color: white;
	padding: 10px;
	margin: 10px 0;
	border-radius: 4px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.ma-status-container{
	background-color: #f9f9f9;
	border: 1px solid #eee;
	border-radius: 8px;
	padding: 0.5rem 1rem;
	margin: 1rem 0;
}

.ma-status-container p{
	margin: 0.5rem 0;
	font-size: 1.1rem;
}

.ma-value{
	font-weight: bold;
	font-size: 1.2rem;
}
.ma-value-good{
	color:blue;
	font-weight: bold;
	font-size: 1.2rem;
}
.ma-value-bad{
	color:red;
	font-weight: bold;
	font-size: 1.2rem;
}